h1 {
    font-style: sans-serif;
    text-align: center;
}

body {
    background-color: lightsalmon;
}

nav li {
    list-style-type: none;
    margin: 15px;
    padding: 3px;
    background-color: rgb(121, 132, 216);
    display: inline;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: black;
}